html,
body {
  margin: 0 auto;
  padding: 0;
  line-height: 1.5;
  font-family: "Quicksand", sans-serif;
  background: rgb(145, 197, 255);
  background: linear-gradient(
    255deg,
    rgba(145, 197, 255, 1) 1%,
    rgba(63, 144, 255, 1) 100%
  );
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: auto 300px;
  background-repeat: repeat;
  background-position: center;
  justify-content: center;
  background-image: url("../pics/slow-clouds.gif");
  background-size: cover;
  overflow-y: auto;
}

.container {
  background-color: rgba(134, 200, 255, 0.85);
  padding: 15px 25px;
  border-radius: 20px;
  margin: 100px;
  margin-top: 30px;
  max-width: 1000px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
}

#weather-icon {
  font-size: 60px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  text-align: center;
  background: transparent;
  border: 2px solid #515b68;
  border-radius: 20px;
}

ul li {
  font-size: 20px;
  color: #000000;
  font-weight: normal;
}

small#description {
  text-transform: capitalize;
}
.row {
  margin: 0 auto;
}

:where(h1, h2, p, h3) {
  text-align: center;
}

p {
  font-size: 34px;
  line-height: 1.5;
}

small {
  opacity: 0.7;
}

strong {
  font-size: 20px;
}

footer {
  margin-bottom: 90px;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
}

span.unit {
  font-size: 22px;
}

.row-forecast {
  list-style: none;
  text-align: center;
  background: transparent;
  border: 2px solid #515b68;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 30px 10px;
  color: #000000;
  font-size: 20px;
  font-weight: normal;
}

p.five-days {
  font-size: 24px;
}

.row-forecast .col:nth-child(even) {
  border-right: 2px solid #515b68;
  border-left: 2px solid #515b68;
}

.header {
  position: static;
  top: 10px;
  right: 50%;
  left: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.location {
  border-radius: 10px;
  text-align: center;
}
#search-button {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background: #0761ff;
  border-radius: 10px;
  box-shadow: 0px 1px #45494d 0.8;
  padding: 0px 30px;
}

#search-button:hover {
  background: #8dc1ff;
  color: #ffffff;
}

#current-location {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background: #86c8ff;
  border-radius: 10px;
  box-shadow: 0px 1px #45494d 0.8;
  padding: 7px 10px;
  position: static;
  top: 30px;
  right: 120px;
}
